.boxing {
	border: 1px groove black;
	background-color: bisque;
	width: 350px;
	height: 200px;
	text-align: center;
	border-radius: 15px;
}
.boxing > h1 + p {
	font-weight: 400;
	color: brown;
	margin: 20px;
}
